<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027356115889-8alo6ac54tc3b8n0q1li6s55undpp73k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027356115889-8alo6ac54tc3b8n0q1li6s55undpp73k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1027356115889-ifp3d0j5qh1gt9an29ojppmodch83l51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCd9uT5_Uhledl2uJgiAAOVAmXcdXOrKBA</string>
	<key>GCM_SENDER_ID</key>
	<string>1027356115889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amiraluxury.mobile</string>
	<key>PROJECT_ID</key>
	<string>amira-interiors</string>
	<key>STORAGE_BUCKET</key>
	<string>amira-interiors.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027356115889:ios:35f3ea3c45de1815b4f390</string>
</dict>
</plist>